@media not -moz-pref("neo.theme.disabled") {
    @media not -moz-pref("neo.theme.url-bar-disabled") {
        .urlbar-input-box {
            justify-content: center !important;
            text-align: center !important;
        }

        #urlbar {

            --border-radius-medium: var(--Roundness) !important;

            & .urlbar-background {
                transition: background 1s ease 200ms,
                            box-shadow 0.5s ease 200ms,
                            border 0.5s ease 200ms !important;
            }
        }

        .urlbar-background {
            --zen-toolbar-element-bg: var(--Neo-Tab-Background) !important;
            --zen-toolbar-element-bg-hover: var(--Neo-Tab-Background-Selected) !important;
        }
        
        #urlbar:not([breakout-extend="true"]) {
            &:hover{
                & .urlbar-background {
                }
            }
        }
    }
}