@media not -moz-pref("neo.theme.disable") {
    @media not -moz-pref("neo.theme.urlbar.disable") {
        .urlbar-input-box {
            justify-content: center !important;
            text-align: center !important;
        }

        .urlbar-input-box {
            justify-content: center !important;
            text-align: center !important;
        }


        #navigator-toolbox[zen-has-hover="true"] {
            & .urlbar-input-box {
                justify-content: center !important;
                text-align: center !important;
            }
        }

        #urlbar {
            & .urlbar-background {
                transition: background 1s ease !important;
            }
        }

        :root:not([zen-has-empty-tab="true"])[zen-single-toolbar="true"] #urlbar:not([breakout-extend="true"]) {

            & .identity-box-button,
            & .urlbar-page-action,
            & .unified-extensions-item,
            & #zen-copy-url-button {
                opacity: 0 !important;
                height: 100%;
                visibility: collapse !important;
                margin: 0 !important;
                position: relative !important;

                transition: opacity 1s ease, visibility 1.5s !important;
            }

            #urlbar-input,
            .urlbar-input-box {
                min-width: 100% !important;
                width: 100% !important;

                transition: min-width 1.5s ease, width 1.5s ease !important;
            }

            &:hover,
            &[has-popup-open="true"] {

                #urlbar-input,
                .urlbar-input-box {
                    width: 20% !important;
                    min-width: 20% !important;
                }

                .identity-box-button,
                & .urlbar-page-action,
                & .unified-extensions-item,
                & #zen-copy-url-button {
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }

            & #picture-in-picture-button:not([hidden]) {
                display: flex !important;
                padding-right: 4px !important;
            }
        }
    }
}

:root[zen-has-empty-tab="true"] {
    & #zen-copy-url-button {
        display: block !important;
        visibility: collapse !important;
    }
}