@media -moz-pref("neo.footer.position", "top") {
    #zen-sidebar-foot-buttons {
        order: -1;
    }

    #TabsToolbar {
        margin-top: 10px !important;
    }

    :root:not([zen-sidebar-expanded="true"]) {
        --Aux-Footer-Adjustment: calc(var(--Aux-Toolbar-Height) + var(--Neo-Media-Height-Sidebar-Collapsed-Hidden));
    }
}