:root {
    --zen-toolbar-height: var(--Neo-Toolbar-height) !important;
    --Aux-Toolbar-height: var(--Neo-Toolbar-height);

    &[zen-compact-mode="true"]{
        --Aux-Toolbar-height: 0px !important;
    }

    --Aux-Workspace-Subview-Button-Height: calc(var(--Neo-Workspace-Strip-Subview-Button-Height-Sidebar-Collapsed) + var(--Neo-Workspace-Strip-Subview-Button-Separation-Sidebar-Collapsed));

    --Aux-Workspace-Strip-Height: calc(var(--Aux-Workspace-Subview-Button-Height) * var(--Workspace-Subview-Counter));

    &:not([zen-sidebar-expanded="true"]) {
        --Aux-Footer-Adjustment: var(--Aux-Toolbar-height);
    }
}