@media not -moz-pref("neo.features.disable") {
    @media not -moz-pref("neo.features.menu.disable") {
        :is(menupopup, panel):not(#notification-popup, #appMenu-notification-popup) {
            @media (-moz-platform: linux) {
                --panel-background-color: var(--Neo-Popup-BG-Color) !important;
                --panel-border-color: transparent !important;
            }

            &::part(content) {
                display: flex;
                box-sizing: border-box;

                padding: var(--panel-padding);
                color: var(--panel-text-color);
                background: var(--panel-background-color);
                border: transparent !important;
            }
        }

        /* NeoZen: Looks like using the media query for the linux platform can change the background color and the border color of the popup menus,
         * without changing it for the other platforms, so I moved the background color and the border color to be inside the media query for linux */
        
        /* This only works in the stable version of Zen browser, twilight version needs the new code above */
         menupopup,
        #appMenu-popup,
        panel:not(#notification-popup, #appMenu-notification-popup) {
            @media (-moz-platform: linux) {
                --panel-background: color-mix(in srgb, var(--Neo-Background) 65%, var(--Neo-Elements) 5%) !important;
                --panel-border-color: transparent !important;

                border: 0px solid var(--panel-border-color) !important;
            }
        }

        panel:not(#appMenu-popup):is(#notification-popup, #appMenu-notification-popup) {
            @media (-moz-platform: linux) {
                --panel-background: color-mix(in srgb, var(--Neo-Background) 100%, var(--zen-primary-color) 25%) !important;
                --panel-border-color: transparent !important;
            }
        }
        /*--------------------------------------------------------------------------------------------------*/

        menu,
        menuitem {
            &:where([_moz-menuactive]:not([disabled])) {
                background-color: color-mix(in srgb, var(--Neo-Background) 15%, var(--zen-primary-color) 60%) !important;
            }
        }

        /* NeoZen: This changes the color when hovering an item in the application popup menu */
        :is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton) {
            &:not([disabled]):hover {
                color: var(--Neo-Elements) !important;
                background-color: color-mix(in srgb, var(--Neo-Background) 15%, var(--zen-primary-color) 60%) !important;
            }
        }
    }
}