:root {
    --Neo-Elements: light-dark(black, white);
    --Neo-Background: light-dark(white, black);

    /* Default Theme Color */
    --default-theme-color: rgb(255, 190, 120);

    /*Browser Background - Windows*/
    --browser-bg-dark-color-windows: rgba(0, 0, 0, 0.4);
    --browser-bg-light-color-windows: rgba(255, 255, 255, 0.0);

    /*Browser Background - Linux*/
    --browser-bg-dark-color-linux: rgba(10, 10, 10, 0.75);
    --browser-bg-light-color-linux: rgba(255, 255, 255, 0.5);

    /* General roundness */
    --Roundness: 50px;

    /* Top bar height */
    --zen-toolbar-height: 50px !important;

    /* Compact mode background color */
    --compact-bg-color: color-mix(in srgb, var(--Neo-Background) 50%, white 2%);

    /* Tabs color */
    
    --Neo-Tab-Background: color-mix(in srgb, var(--Neo-Background) 40%, white 2%);
    --Neo-Tab-Background-Selected: color-mix(in srgb, var(--Neo-Background) 60%, white 2%);
    --Neo-Tab-Background-Hover: color-mix(in srgb, var(--Neo-Background) 40%, white 2%);
    --Neo-Glance-Buttons-BG: color-mix(in srgb, var(--Neo-Background) 70%, white 2%);
    

    /*-------------- This section will be moved to the tabs file in the future -------------*/
    .tab-background{
        --zen-toolbar-element-bg: color-mix(in srgb, var(--Neo-Background) 40%, white 2%) !important;
        --zen-essential-tab-selected-bg-hover: color-mix(in srgb, var(--Neo-Background) 60%, white 2%) !important;
        --zen-essential-tab-selected-bg: color-mix(in srgb, var(--Neo-Background) 60%, white 2%) !important;
        --tab-selected-bgcolor: color-mix(in srgb, var(--Neo-Background) 60%, white 2%) !important;
        
        --tab-selected-shadow: 0 0 3px color-mix(in srgb, var(--Neo-Background) 60%, white 2%) !important;!important;
        --tab-border-radius: var(--Roundness) !important;
    }
   
    --tab-hover-background-color: color-mix(in srgb, var(--Neo-Background) 40%, white 2%) !important;

    /*-------------------------------------------------------------------------------------*/

    /* Tabs selected shadow */


    /* Tab collapsed width */
    --tab-collapsed-background-width: 40px !important;

    /* Tab min height */
    --tab-min-height: 38px !important;
    
    .urlbar-background {
        --zen-toolbar-element-bg: color-mix(in srgb, var(--Neo-Background) 40%, white 2%) !important;
        --zen-toolbar-element-bg-hover: color-mix(in srgb, var(--Neo-Background) 60%, white 2%) !important;
        --border-radius-medium: var(--Roundness) !important;
    }
}