:root[zen-sidebar-expanded="true"] {
  #zen-sidebar-foot-buttons {
    margin: 5px 0px !important;
    padding: 0px 2px !important;
    display: grid !important;

    /* Allows automatic row creation */
    grid-auto-rows: auto !important;
    /* Ensures columns resize */
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
    /* Center grid items */
    gap: 8px !important;

    justify-content: center !important;
    /* Center vertically */
    align-items: center !important;

    @media (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
      height: fit-content !important;
      max-height: 115px !important;
    }

    @media not (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
      max-height: 35px !important;
    }
  }
}