
#urlbar[breakout-extend="true"] {
  z-index: 2;

  :root[zen-single-toolbar="true"] & .urlbar-input-box,
  &[zen-floating-urlbar="true"] .urlbar-input-box {
    font-weight: 500;
    @media (-moz-platform: linux) {
      font-weight: 400;
    }
  }

  & #identity-box {
    height: 100%;
  }

  :root:not([zen-single-toolbar="true"]) &:not([zen-floating-urlbar="true"]) #identity-box:not([pageproxystate="invalid"]) {
    margin-inline-end: 0;
  }

  & .urlbar-background {
    --zen-urlbar-background-base: light-dark(#fbfbfb, color-mix(in srgb, hsl(0, 0%, 6.7%), var(--zen-colors-primary) 30%));
    /* stylelint-disable-next-line media-query-no-invalid */
    @media -moz-pref("zen.theme.acrylic-elements") and (not (prefers-reduced-transparency: reduce)) {
      --zen-urlbar-background-transparent: light-dark(
        color-mix(in srgb, white 80%, transparent),
        color-mix(in srgb, var(--zen-urlbar-background-base) 65%, transparent)
      );
    }
    background-color: var(--zen-urlbar-background-transparent, var(--zen-urlbar-background-base)) !important;
    box-shadow: 0 30px 140px -15px light-dark(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)) !important;
    backdrop-filter: none !important;
    outline: 0.5px solid light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)) !important;
    outline-offset: var(--zen-urlbar-outline-offset) !important;

    /* stylelint-disable-next-line media-query-no-invalid */
    @media -moz-pref("zen.theme.acrylic-elements") {background-color: var(--zen-urlbar-background-transparent, var(--zen-urlbar-background-base)) !important; box-shadow: light-dark(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)) 0px 30px 140px -15px !important; backdrop-filter: none !important; outline: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)) solid 0.5px !important; outline-offset: var(--zen-urlbar-outline-offset) !important;}
  }

  &,
  .urlbar-background {
    border-radius: 12px !important;
  }

  &[breakout-extend][animate-searchmode="true"]::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    animation: zen-urlbar-searchmode ease-out 1s forwards;
  }

  & #zen-copy-url-button {
    display: none;
  }
}